<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
	<property name="LOG_FILE"
			  value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
	<include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
	<include resource="co/elastic/logging/logback/boot/ecs-console-appender.xml"/>
	<include resource="co/elastic/logging/logback/boot/ecs-file-appender.xml"/>
	<root level="INFO">
		<appender-ref ref="ECS_JSON_CONSOLE"/>
		<!--		<appender-ref ref="CONSOLE"/>-->
		<!--		<appender-ref ref="ECS_JSON_FILE"/>-->
		<!--		<appender-ref ref="FILE"/>-->
	</root>
</configuration>